
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("refresh", "HelloWorld", "Home")
        <hr />
        @Html.Action("HelloWorld", "Home") 
    </div>
</body>
</html>
